@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: "Lulo Clean One Bold";
    src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot");
    src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.svg#Lulo Clean One Bold")format("svg");
}

@font-face {
    font-family: 'Futura LT Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura LT Regular'), url('FuturaLT.woff') format('woff');
    }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


body {
    background-color: #F2EEF0;
    font-size: 80%;
    flex: 1;
}

/* O conteúdo principal precisa ocupar o espaço restante antes do footer */
main {
    flex: 1;
    width: 100%;
}

/*menu*/
.cabecalho {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #087285;
    width: 100%;
    height: 18dvh;
    padding-left: 10px;
}

.imgtexto {
    width: 157px;
    height: 67px;
    margin-right: 150px;
}

.a-menu {
    display: flex;
    font: 1.2rem 'Anton', sans-serif;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    padding: 30px;
}

/* cor para quando o link for clicado */
.a-menu:visited,
.a-menu:link {
    color: #FFF;
}

/* cor para quando passar o mouse sobre o link */
.a-menu:hover,
.a-menu:active {
    color: #EA6F07;
}



hr {
    border-color: #EA6F07;
    width: 100%;
}
h1{
    color:#087285;
    font-family: 'Lulo Clean One Bold';
    text-align: center;
    margin: auto;
}
h2{
    color: #FFFFFF;
    background-color: #087285;
    border-radius: 7px;
    font-family: 'Futura LT Regular';
    text-align: center;
    width: 554px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
h4{
    color:#087285;
    font-family: 'Futura LT Regular';
    margin-left: 25px;
    font-size: 1.3rem;
}

.form{
    text-decoration: none;
}

.form a {
    color: #eeede7;
    text-decoration: none;
}

/*turmas*/
.turmas {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

section details summary {
    font: 1.5rem 'Futura LT', cursive;
    background-color: #60B4C3;
    padding: 2%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/*tabela das turmas*/
table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
    background-color: #60B4C3; 
    margin-top: -16px;
    
  }

  th{
    font: 1.5rem 'Futura LT', cursive;
    color: #02253B;;
  }
  td{
    font: 0.9rem 'Futura LT';
    color: #02253B;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #02253B; 
    border-right: 1px solid #02253B; /
  }

  th:last-child, td:last-child {
    border-right: none; /* Remova a borda à direita para a última célula de cada linha */
  }

  tr:last-child th, tr:last-child td {
    border-bottom: none; /* Remova a borda inferior para a última linha */
  }
  /*Carrossel eventos*/

  .carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 33.33%;
    box-sizing: border-box;
    margin: 17px;
    background-color: #A3A3A3;
    padding: 30px;
    border-radius: 10px;
}

.carousel-slide img {
    width: 100%;
    height: 40vh;
    display: block;
    border-radius: 10px;
    object-fit: cover; 
}

.caption {
    color: #02253B;
    font-family: 'Futura LT Regular';
    font-weight: 700;
    text-align: center;
    background-color: #A3A3A3;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* Botões de navegação */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/*FORMULÁRIO*/
.container{
    justify-content: center;

}

.form a{
    text-decoration: none;
    color: #FFF;
}

.form a:link, .form a:visited{
    color: #FFF;
}

.form a:hover, .form a:active{
    color: #EA6F07;
}

.btn-container{
    text-align: center;
}


.form-box img{
    width: 150px;
    margin-left: 200px;
    justify-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
}


label{
    font: 1rem 'Futura LT', cursive;
    color: #02253B;
}

input[type="date"] {
    font: 0.9rem 'Futura LT', cursive;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border:0;
    box-sizing: border-box;
}
.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.input-group {
    flex: 1;
    margin-right: 10px; /* Espaçamento entre os campos, opcional */
}

.input-group:last-child {
    margin-right: 0; /* Remove o espaçamento para o último item */
}

#mensagem-cep {
    font-size: 14px;
    color: red;
}
´
.banner_form{
    margin: 0;
    padding: 0;
    zoom: 0;
}
.banner_form img{
    width: 100%;
    height: fit-content;
}

.container{
    justify-content: center;
    
}
.btn-container{
    text-align: center;
}



.form-box {
    background-color: #60B4C3;
    padding: 60px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

.container h2 {
    background-color: #087285;
    color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 8px 5px 5px #a1a1a1;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select {
    font: 0.9rem 'Futura LT', cursive;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border:0;
    box-sizing: border-box;
    
}

select {  font: 0.9rem 'Futura LT';
    color: #747373;
}

input[type="submit"],
input[type="reset"] {
    padding: 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1%;
    color: #FFF;
    background-color: #EA6F07;
    text-align: center;
    width: 20%;
    margin-bottom: 20px;
    
}
input[type="reset"]{
    margin-left: 4%;
}

/*footer*/
footer {
    background-color: #087285;
    text-align: center;
    padding: 20px;
    font: 1.2rem 'Futura LT', sans-serif;
    color: #eeede7;
    margin-top: auto; /* Garante que o footer fique no final */
}

.fot {
    font-weight: bold;
    font: 1.2rem 'Futura LT', sans-serif;
    text-decoration: none;
}

.fot:link,
.fot:visited {
    color: #FFF;
}

.fot:hover,
.fot:active {
    color: #EA6F07;
}

/* Responsividade para telas menores */
.menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.cabecalho.responsive {
    display: block;
    text-align: center;
}

.cabecalho.responsive .a-menu {
    display: block;
    background-color: #087285; /* Fundo azul permanece */
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0;
}

/*formulario agradecimento*/
p{
    font-weight: bold;
    font: 1.2rem 'Futura LT', sans-serif;
    color: #02253B;
    text-align: center;
    padding: 6px;
}

/* Para ocultar o menu inicialmente em telas pequenas */
@media (max-width: 768px) {
    .cabecalho {
        justify-content: space-between;
    }

    .menu-toggle {
        display: flex;
    }

    .cabecalho .a-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .cabecalho.responsive .a-menu {
        display: block;
    }
}