@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: "Lulo Clean One Bold";
    src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot");
    src: url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/164a60c2e090248befbcf32fdd5af386.svg#Lulo Clean One Bold")format("svg");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --blue: #087285;
    --white: #fff;
    --gray: #F2EEF0;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #087285;
}


.bg1{
    width: 500px;
    position: absolute;
    left: 0;     
    bottom: 0;
    z-index: -1;
    margin-left: -40px;
}
.bg2{
    width: 300px;
    position: absolute;
    right: 0;  
    bottom: 0; 
    z-index: -1;
    margin-right: -80px;

}

.bg3{
    width: 300px;
    position: absolute;
    right: 0;   
    top: 0; 
    margin-top: -60px;
    margin-right: -80px;
}


.container{
    position: relative;
    width: 100%;
}
/*================navigation==============*/
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
img{
    width: 80%;
    margin: 10px;
    padding-top: 50px;
    margin-left: 40px;
}


.navigation ul{
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 40px;
    text-align: center;
    margin-top: 40px;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    padding-left: 40px;
    font-family: 'Anton';
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--gray);
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered{
    color: var(--blue);

}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



/*----------------------curve outsite------------*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--gray);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--gray);
    pointer-events: none;
}

.main{
    background-color: #F2EEF0;
    width: calc(100% - 300px); 
    height: calc(100% - 40px);
    position: absolute;
    left: 250px; 
    z-index: 1; 
    padding: 20px; 
    top: 20px;
    border-radius: 30px;
    overflow: auto;
    
}

.cardbox, .cardbox2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
    
}
.card1{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #00000029;
    width: 30vw;
    height: 20vw;
    flex: 1 1 calc(50% - 40px); 
    max-width: 100%; 
    overflow: auto;
}

.card2{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #00000029;
    width: 10vw;
    height: 20vw;
    flex: 1 1 calc(20% - 10px); 
    max-width: 100%; 
    overflow: auto;
}
.card3, .card4 {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #00000029;
    width: 27vw;
    height: 20vw;
    flex: 1 1 calc(30% - 20px); 
    max-width: 100%; 
    overflow: auto;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .card1, .card2, .card3, .card4 {
        width: 45vw; 
        height: 35vw;
    }
}

@media (max-width: 768px) {
    .card1, .card2, .card3, .card4 {
        width: 90vw; 
        height: 40vw;
    }
}

.main {
    background-color: #F2EEF0;
    width: calc(100% - 300px); 
    height: calc(100% - 40px);
    position: absolute;
    left: 250px; 
    z-index: 1; 
    padding: 20px; 
    top: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column; /* Garante que a estrutura seja vertical */
}
/*=========== relatorio =============*/
h1{
    font: 2rem "Futura LT Regular",sans-serif;
    color:#02253B;
    margin-left: 60px;
    margin-bottom: 10px;
    

}
hr{
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 3px solid #F4AF5E;
}

.relatorio{
    padding: 25px 10px 15px 10px;
    justify-content: left;
    margin: 10px;
    margin-top: 20px;
}

section details summary {
    font: 1.5rem 'Futura LT', cursive;
    color: #087285;
    background-color: #D9D9D9;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    align-items: center;
    width: 90%;
    margin: 10px auto;
    background-color: #D9D9D9; 
    margin-top:-10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }

  th{
    font: 1.1rem 'Futura LT', cursive;
    color: #087285;
    border-top: 1px solid #60B4C3;
  }
  td{
    font: 0.9rem 'Futura LT';
    color: #02253B;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #60B4C3; 
    border-right: 1px solid #60B4C3; /
  }
  th:last-child, td:last-child {
    border-right: none; /* Remova a borda à direita para a última célula de cada linha */
  }

  tr:last-child th, tr:last-child td {
    border-bottom: none; /* Remova a borda inferior para a última linha */
  }


/*Calendário*/


.legenda {
    justify-content: center;
    align-items: center;
    display: flex;
    font: 0.4em 'futura LT Regular';
}


.calendario{
    background-color: #fff;
    box-shadow: 0 4px 8px #CCC;
    transition: 0.1s;
    padding: 2px;
    border-radius: 8px;
    border: none;
    width: 100%;
    text-align: center;
}

.calendario td,th{
    border-right: none;
    border-bottom: none;
}

.calendario:hover {
    box-shadow: 0 8px 16px #CCC;

}

.mes-ano, .setas{
    display: inline-block;
}

.mes-ano{
    margin-right:30%;
    font: 1.0rem 'Futura LT Regular', sans-serif;
    font-weight: bold;
    padding: 5px;
}
.nome-mes, .nome-mes th{

    background-color: #FFF;
    font: 0.8rem 'Futura LT Regular', sans-serif;
    font-weight: bold;
    border: none;
}
.dias td{
    padding: 12px;
    font-size: 10px;
}

.disponivel{
    background-color: #61E831;
    border-radius: 50%;
    box-sizing: content-box;
}

.ocupado{
    background-color: #FB3F4A;
    border-radius: 50%;
}

.inativo{
    background-color: #A3A3A3;
    border-radius: 50%;
}

.turmas{
    padding: 10px;
}

.slide1, .slide2{
    background-color: #CCC;
    display: flex;
    max-width: 100%;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 3%;
    margin: 10px;
}

.slide1 img, .slide2 img{
    max-width: 30%;
    align-items: center;
    border-radius: 10px;
    padding-top: 0;
}
p{
    font-family: 'Futura LT Regular';
    color: #087285;
    font-size: bold;
}

/* ------------------Turmas----------------- */


.cardBox {
    background-color: #087285;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 50vh;
    margin-top: -1px;
}

.tituloturma {
    margin-top: -10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-row {
    display: flex;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
}

label {
    font: 1rem 'Futura LT Regular';
    color: #CCC;
    margin: 0;
}


input,
select {
    font: 0.9rem 'Futura LT Regular';
    color: #A3A3A3;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-left: 30px;
}

.nome {
    margin-left: 15px;
}
.modalidade{
    margin-right: -40px;
}

input[type="time"]{
    margin-left: 8px;
}

button {
    background-color: #FF5722;
    color: white;
    padding: 9px 9px;
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 0.8rem "Futura LT Regular", sans-serif;
    margin-right: 50px;
    height: 32px;

}

.buttonea {
    text-align: center;
}

.buttonp {
    text-align: right;
}


/*=====================EVENTOS===================*/
.cardBoxevent{
    background-color: #087285;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 55vh;
    margin-top: -1px;
    flex: 1 1 calc(50% - 40px);
    margin-right: 20px;
    
}

.conteudo{
    display: flex;
    
}

input[type="date"]{
    width: 35%;
}

.eventoscard{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.evento1, .evento2{
    background-color: #CCC;
    display: flex;
    max-width: 50%;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 3%;
    margin: 10px; 
    height: 20vh; 
}


.evento1 img, .evento2 img{
    width: 40%;
    height: 20vh;
    margin-left: 3px;
    border-radius: 20%;
    padding: 10px;
    object-fit: cover;
}


/*======================MODAL=======================*/

/* Ajuste o modal para o mesmo tamanho do container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto com opacidade */
  }
  
  /* Definir o conteúdo do modal para ter o mesmo tamanho do container */
  .modal-content {
    background-color: #60B4C3;
    align-items: center;
    border-radius: 4%;
    border-end-end-radius: 4%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; 
    max-width: 800px; 
    height: auto;
    max-height: 80%; 
    overflow-y: auto; 
    
  }
  .formodal{
    display: flex;
    gap: 100px;
    background-color: #02253B;
    border-radius: 4%;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
  }

.formodal input[type="text"],input[type="date"], input[type="time"]{
    height: 35px;
    margin: 5px;
}

.evento1_modal{
    background-color: #CCC;
    text-align: center;
    align-items: center;
    max-width: 50%;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 3%;
    margin: 10px; 
    height: 50vh; 
}
.evento1_modal img{
    align-items: center;
    width: 90%;
    margin: 0;
    margin-bottom: 50px;
    border-radius: 10%;
}
  /* Estilo para o botão de fechar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /*=============================MODAL TURMAS=======================*/

.form-groupmodal{
    gap: 100px;
    background-color: #087285;
    border-radius: 4%;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
.form-groupmodal input[type="text"],input[type="date"], input[type="time"]{
    height: 35px;
    margin: 10px;
    
}